$primary-font: 'IBM Plex Mono', monospace;
$secondary-font: 'Atkinson Hyperlegible', sans-serif;


// grayscale color palette

$grayscale-100: #fdfdfd;
$grayscale-200: #f6f6f6;
$grayscale-300: #eaeaea;
$grayscale-400: #d6d6d6;
$grayscale-500: #bcbcbc;
$grayscale-600: #9b9b9b;
$grayscale-700: #767676;
$grayscale-800: #505050;
$grayscale-900: #272727;

//green

$greeny-1: #00feaf;
$greeny-2: #039183;